Esta notebook es solo para guardar los vectores en df

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../scripts/")
import clean_text
import TweetToVect2 as TW
import gensim.models.fasttext
from importlib import reload
import UserToVect as UVect

## Tweet vectors

In [94]:
loaded_word_model = gensim.models.fasttext.load_facebook_vectors('../models/words_fast_text.bin')

In [119]:
from importlib import reload
reload(TW)

In [125]:
tweet_model = TW.TweetToVect()
tweet_model.load_model(fast_text_model=loaded_word_model)
tweet_model.get_vectors(['hola como estas', 'prueba dos']).shape

(2, 100)

In [87]:
df_tw = pd.read_pickle('../datasets/tweets_cleaned.pkl')
df_u = pd.read_csv('../datasets/users_202008032307.csv')

In [10]:
print(df_u.columns)
print(df_tw.columns)

Index(['user_id', 'user_name', 'name', 'description', 'url', 'created_at',
       'geo_enabled', 'verified', 'profile_image_url',
       'profile_image_url_large', 'followers_count', 'friends_count',
       'listed_count', 'favourites_count', 'statuses_count', 'media_count',
       'pinned_tweet', 'tweets_scraped', 'tweets_scraped_at', 'scrapped_at',
       'ignore'],
      dtype='object')
Index(['tweet_id', 'conversation_id', 'user_id', 'created_at', 'lang',
       'retweet_count', 'favorite_count', 'reply_count', 'quote_count',
       'is_reply', 'replied_id', 'replied_user_id', 'is_quote', 'quoted_id',
       'full_text', 'source', 'scrapped_at', 'user_mentions_count',
       'hashtags_count', 'urls_count', 'media_count', 'replied_original',
       'full_text_cleaned'],
      dtype='object')

In [88]:
df_tw = df_tw[df_tw.full_text_cleaned!='']

In [127]:
vectores_tweets = df_tw.full_text_cleaned.apply(lambda x: tweet_model.get_vectors([x], cleaned=True)[0])

In [128]:
df_tw_vecores = df_tw.copy()
df_tw_vecores.loc[:,'vector_tweet'] = vectores_tweets
df_tw_vecores.head()[['tweet_id', 'vector_tweet']]

,tweet_id,vector_tweet
1000001051574046720,1000001051574046720,"[-0.050109155, 0.07308929, -0.05848807, -0.310..."
1000002592955609088,1000002592955609088,"[0.115810096, -0.0124341445, -0.016124656, -0...."
1000002668474101761,1000002668474101761,"[0.04619045, -0.049331196, -0.033828426, -0.43..."
1000003177448697857,1000003177448697857,"[0.1546355, 0.050867796, -0.047380175, 0.19968..."
1000003312597585921,1000003312597585921,"[0.04194299, 0.11239119, -0.10102855, -0.25740..."

In [135]:
df_tw_vecores.to_pickle('../datasets/tweets_vectores.pkl')

## User vectors

In [2]:
model_u = UVect.UserToVect()
model_u.load_encoder(model_path='../models/user_to_vect_encoder_b')

In [3]:
df_tweets = pd.read_pickle('../datasets/tweets_vectores.pkl')
print(df_tweets.columns)
df_tweets.head()[['tweet_id', 'vector_tweet']]

Index(['tweet_id', 'conversation_id', 'user_id', 'created_at', 'lang',
       'retweet_count', 'favorite_count', 'reply_count', 'quote_count',
       'is_reply', 'replied_id', 'replied_user_id', 'is_quote', 'quoted_id',
       'full_text', 'source', 'scrapped_at', 'user_mentions_count',
       'hashtags_count', 'urls_count', 'media_count', 'replied_original',
       'full_text_cleaned', 'vector_tweet'],
      dtype='object')

,tweet_id,vector_tweet
1000001051574046720,1000001051574046720,"[-0.050109155, 0.07308929, -0.05848807, -0.310..."
1000002592955609088,1000002592955609088,"[0.115810096, -0.0124341445, -0.016124656, -0...."
1000002668474101761,1000002668474101761,"[0.04619045, -0.049331196, -0.033828426, -0.43..."
1000003177448697857,1000003177448697857,"[0.1546355, 0.050867796, -0.047380175, 0.19968..."
1000003312597585921,1000003312597585921,"[0.04194299, 0.11239119, -0.10102855, -0.25740..."

In [4]:
users = pd.read_csv('../datasets/users_202008032307.csv')
users.index = users.user_id.values
print(users.columns)
users.head(3)

Index(['user_id', 'user_name', 'name', 'description', 'url', 'created_at',
       'geo_enabled', 'verified', 'profile_image_url',
       'profile_image_url_large', 'followers_count', 'friends_count',
       'listed_count', 'favourites_count', 'statuses_count', 'media_count',
       'pinned_tweet', 'tweets_scraped', 'tweets_scraped_at', 'scrapped_at',
       'ignore'],
      dtype='object')

,user_id,user_name,name,description,url,created_at,geo_enabled,verified,profile_image_url,profile_image_url_large,...,friends_count,listed_count,favourites_count,statuses_count,media_count,pinned_tweet,tweets_scraped,tweets_scraped_at,scrapped_at,ignore
1000012910,1000012910,ElibeGoy,EliLorenzen,"Se dicen Argentinos, pero lo unico que quieren...",NaN,2012-12-09 19:43:03.0,1,0,https://pbs.twimg.com/profile_images/295368622...,https://pbs.twimg.com/profile_images/295368622...,...,1015,11,119347,150497,1239,NaN,0,NaN,2020-07-28 17:33:45.0,0
1000016694310522880,1000016694310522880,ampirubio_,𝒜𝓂𝓅𝒶𝓇𝑜 🦋,17 años // siempre con las pibas♀️LAE ~ Arriba...,https://t.co/ET6On7tWRN,2018-05-25 14:12:14.0,0,0,https://pbs.twimg.com/profile_images/128064563...,https://pbs.twimg.com/profile_images/128064563...,...,714,2,46794,37603,65,1.210915e+18,0,NaN,2020-07-28 03:58:39.0,0
1000050140,1000050140,Petey_57,Salvador#tropak,"Radical alfonsinista, Un día sin darme cuenta ...",NaN,2012-12-09 20:01:59.0,1,0,https://pbs.twimg.com/profile_images/415566131...,https://pbs.twimg.com/profile_images/415566131...,...,2817,0,37429,15079,5530,1.116528e+18,0,NaN,2020-07-28 03:48:15.0,0

In [29]:
model_u.get_vector(df_tweets.vector_tweet.values[:10]).shape

(100,)

In [6]:
len(users)

120065

In [23]:
len(users[users.user_id.isin(df_tweets.user_id)]) # solo usuarios que tengamos tweets

86009

In [25]:
users = users[users.user_id.isin(df_tweets.user_id)]

In [40]:
def get_vectors_user(uid):
    tweets_from_user = df_tweets[df_tweets.user_id==uid].vector_tweet.values
    return model_u.get_vector(tweets_from_user, 50) #max 500 tweets

get_vectors_user(149991703).shape

(100,)

In [41]:
users_vectors = users.user_id.apply( lambda uid: get_vectors_user(uid))

In [42]:
users_vectors.head()

1000012910             [0.46599352, -1.0871716, -0.33004016, -0.84107...
1000016694310522880    [-0.025936568, 0.15234873, -0.66376126, -0.618...
1000050140             [-0.1915166, -0.87641656, -0.09021445, -0.8930...
1000052612186722304    [0.6845059, -0.1743484, -0.36514416, -0.698532...
100006904              [-0.19243807, -0.94704485, -0.8511393, 0.55519...
Name: user_id, dtype: object

In [43]:
users_count_tw = users.user_id.apply(lambda uid: len(df_tweets[df_tweets.user_id==uid]))

In [44]:
users_v = users.copy()
users_v.loc[:,'vector_user'] = users_vectors
users_v.loc[:,'n_tweets'] = users_count_tw

In [45]:
users_v.head()

,user_id,user_name,name,description,url,created_at,geo_enabled,verified,profile_image_url,profile_image_url_large,...,favourites_count,statuses_count,media_count,pinned_tweet,tweets_scraped,tweets_scraped_at,scrapped_at,ignore,vector_user,n_tweets
1000012910,1000012910,ElibeGoy,EliLorenzen,"Se dicen Argentinos, pero lo unico que quieren...",NaN,2012-12-09 19:43:03.0,1,0,https://pbs.twimg.com/profile_images/295368622...,https://pbs.twimg.com/profile_images/295368622...,...,119347,150497,1239,NaN,0,NaN,2020-07-28 17:33:45.0,0,"[0.46599352, -1.0871716, -0.33004016, -0.84107...",1
1000016694310522880,1000016694310522880,ampirubio_,𝒜𝓂𝓅𝒶𝓇𝑜 🦋,17 años // siempre con las pibas♀️LAE ~ Arriba...,https://t.co/ET6On7tWRN,2018-05-25 14:12:14.0,0,0,https://pbs.twimg.com/profile_images/128064563...,https://pbs.twimg.com/profile_images/128064563...,...,46794,37603,65,1.210915e+18,0,NaN,2020-07-28 03:58:39.0,0,"[-0.025936568, 0.15234873, -0.66376126, -0.618...",4
1000050140,1000050140,Petey_57,Salvador#tropak,"Radical alfonsinista, Un día sin darme cuenta ...",NaN,2012-12-09 20:01:59.0,1,0,https://pbs.twimg.com/profile_images/415566131...,https://pbs.twimg.com/profile_images/415566131...,...,37429,15079,5530,1.116528e+18,0,NaN,2020-07-28 03:48:15.0,0,"[-0.1915166, -0.87641656, -0.09021445, -0.8930...",1
1000052612186722304,1000052612186722304,LibPeronistas,Libros Peronistas,Libros escolares publicados durante la segunda...,https://t.co/lV1PZq2LPy,2018-05-25 16:34:57.0,0,0,https://pbs.twimg.com/profile_images/100072396...,https://pbs.twimg.com/profile_images/100072396...,...,1166,1058,245,NaN,0,NaN,2020-07-28 17:20:46.0,0,"[0.6845059, -0.1743484, -0.36514416, -0.698532...",1
100006904,100006904,AlexLopezMaya,Alexander López Maya,Senador del @PoloDemocratico (2018 – 2022). Lu...,https://t.co/nOPgRO6USA,2009-12-28 17:51:59.0,1,1,https://pbs.twimg.com/profile_images/118880768...,https://pbs.twimg.com/profile_images/118880768...,...,2799,24436,2452,1.241343e+18,0,NaN,2020-07-28 05:41:21.0,0,"[-0.19243807, -0.94704485, -0.8511393, 0.55519...",2

In [46]:
users_v.to_pickle('../datasets/users_vectores.pkl')